@model Prueba.Web.Models.Articles

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticlesName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticlesName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassificationArts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassificationArts.NameArtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brands)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brands.BrandName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArticlesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
